## ðŸ“Š Bar Plot (ë§‰ëŒ€ ê·¸ëž˜í”„)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

In [4]:
df = pd.read_csv('../dataset/air-quality-madrid/versions/5/csvs_per_year/csvs_per_year/madrid_2001.csv')
df.dropna(subset=['date','PM10','station'],inplace=True)
df = df[['date','PM10','station']]
df['year_month'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m')
df = df[['year_month','PM10']].groupby(by=['year_month']).mean('PM10').reset_index()
df

   year_month       PM10
0     2001-01  29.483590
1     2001-02  37.242604
2     2001-03  25.040909
3     2001-04  25.705201
4     2001-05  28.819509
5     2001-06  39.146040
6     2001-07  36.235752
7     2001-08  38.682467
8     2001-09  36.815390
9     2001-10  32.315528
10    2001-11  35.002173
11    2001-12  51.584564
12    2002-01  43.725833

In [ ]:
x = df['year_month']
y = df['PM10']